.image-overlay-container {
    position: relative;
    display: inline-block;
  }
  
  .image-overlay-container img {
    width: 100%;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-overlay-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .text h2 {
    margin: 0 0 10px;
  }
  
  .text p {
    margin: 0;
  }
   